<div class="container">
  <div class="row no-gutters">

    <!-- 部分テンプレート呼び出し -->
    <div class="col-lg-4">
      <%= render 'info', user: @user %>
    </div>

    <!-- 右側コンテンツ -->
    <!-- ヘッダー「Books」クリック後画面-->
    <div class="col-lg-8">
      <h2>Books</h2>
      <table>
        <tr>
        <th></th>
        <th>Title</th>
        <th>Option</th>
        </tr>
        <% if @books.present? %>
          <% @books.each do |book| %>
            <tr>
            <td><%= image_tag @user.get_user_image(100,100) %></td>
            <td><%=link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
            <td><%= book.body %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

  </div>
</div>